@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.governing-rgukt-bg {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/university.jpg');
    
    background-size: cover;
    margin-bottom: 10px;
}

.governing-rgukt-bg::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(110, 34, 72, 0.73);
    
}

.governing-rgukt-head {
    position: relative;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding: 7px;
}

@media (min-width:768px) {
    .governing-rgukt-head {
        font-size: 33px;
    }
}

.governing-rgukt-head-des {
    position: relative;
}

.governing-rgukt-nav {
    color: #ffffff;
    font-size: 12px;
    font-family: "Sans-Serif";
}

/*navbar*/
.navbar-color {
    background-color: #ab0257;
}

#nav-item1 {
    color: #ffffff;
}

#nav-item2 {
    color: #ffffff;
}

#nav-item3 {
    color: #ffffff;
}

#nav-item4 {
    color: #ffffff;
}

#nav-item5 {
    color: #ffffff;
}


.container{
    box-shadow: 2px  rgba(22, 22, 26, 0.18);
    padding-top: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote{
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2rem;
 
    padding: 15px 5px;
}
blockquote::after{
content: close-quote;
}
blockquote::before{
    content:open-quote;
}
blockquote::before,blockquote::after{
   
   
    padding:0 10px;
}
.chancellor-img{
    border-radius: 10px;
        border: 1px solid #ab0257;
 width:80%;
 height:80%;
}
@media (max-width:640px){
    .chancellor-img{
        border-radius: 10px;
        border: 1px solid #ab0257;
        width:50%;
        height:80%;
    }
    
    
    blockquote{
        margin-top: 10px;
        border-radius: 10px;
        font-size: 24px;
     
        padding: 15px 5px;
    }
  
    }
.line{
   
    border: 1px solid rgb(173, 171, 171);
}
.heading{
   font-family:fantasy;
    color:#ab0257;
    font-size: 28px;
}

