  
.site-heading h4 {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .site-heading h4 span {
    color: #ab0257;
  }
  
  .site-heading h2 {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    text-transform: capitalize;
    z-index: 1;
  }
  
  .site-heading h2::before {
    background: #ab0257 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
  }
  
  .site-heading {
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 10px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th{
    background-color: rgb(87, 84, 84);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

