.container{
border-radius: 10px;
padding: 20px;
border: 1px solid #c5c3c4;
margin-top: 50px;

}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #bd2d75;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #bd2d75 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: 10px;
}
